<VirtualHost *:80>
        ServerAdmin webmaster@localhost
        ServerName {{ domain_name }}
        ServerAlias www.{{ domain_name }}

        DocumentRoot {{ domain_root_path }}
        <Directory "{{ domain_root_path }}">
                Options +FollowSymLinks -Indexes
                AllowOverride All
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/{{ domain_name }}-error.log
        CustomLog ${APACHE_LOG_DIR}/{{ domain_name}}-access.log combined
</VirtualHost>
